/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
  font-family: 'Noto Sans Math', sans-serif;
  background: #fffdfa;
}

/* ------------------------ division ------------------------ */

/* Input box styles */
.input-box {
  position: absolute;
  top: 20vh;
  width: 70vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

input {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

::placeholder {
  font-style: italic;
}

input[type="text"] {
  width: calc(70vw - 43px);
  left: 1px;
  height: 38px;
  padding: 0 8px;
  border: 1px solid #ff8800;
  border-right: none;
  border-radius: 6px 0 0 6px;
  outline: none;
  background: #ffffff;
}

input[type="submit"] {
  left: -4px;
  position: relative;
  width: 38px;
  height: 38px;
  border: 1px solid #ff8800;
  border-left: none;
  border-radius: 0 6px 6px 0;
  outline: none;
  color: #ffffff;
  background: #ffaa00;
}

input[type="submit"]:hover {
  background: #882200;
}

/* ------------------------ division ------------------------ */

/* Answer box styles */
.answer-box {
  display: none;
  position: absolute;
  top: calc(20vh + 38px);
  width: 70vw;
  padding: 0 8px;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 16px;
  border: 1px solid #ff8800;
  background: #ffffff;
  transition: 1s;
}

p {
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
}
